In [490]:
import pandas as pd
import dataset
import csv
import os
import numpy as np
from collections import Counter

In [491]:
votes = pd.read_csv(r'C:\Users\Tony Duron\Python-Challenge\PyPoll\Resources\election_data.csv')
votes.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [492]:
votes_update = votes['Candidate'].value_counts()
votes_update

dataframe = pd.DataFrame(votes_update)
votes_df = dataframe

votes_df

votes_df.index.name = 'Cand_Name'
votes_df

           Candidate
Cand_Name
Khan         2218231
Correy        704200
Li            492940
O'Tooley      105630

In [493]:
votes_total = (votes_df['Candidate'] / votes_df['Candidate'].sum()) * 100

votes_total

Cand_Name
Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [494]:
dataframe_1 = pd.DataFrame(votes_total)
votes_final = dataframe_1

votes_final

votes_final.rename(columns = {'Candidate':'Cand_%'}, inplace = True)

votes_final

              Cand_%
Cand_Name
Khan       63.000011
Correy     19.999994
Li         13.999996
O'Tooley    2.999999

In [495]:
votes_df['Cand_%'] = pd.Series(votes_final['Cand_%'])
votes_df

           Candidate     Cand_%
Cand_Name
Khan         2218231  63.000011
Correy        704200  19.999994
Li            492940  13.999996
O'Tooley      105630   2.999999

In [499]:
votes_df['Result'] = '2218231'

votes_df
votes_df.rename(columns= {'Candidate':'Total_Votes'})

           Total_Votes     Cand_%   Result
Cand_Name
Khan           2218231  63.000011  2218231
Correy          704200  19.999994  2218231
Li              492940  13.999996  2218231
O'Tooley        105630   2.999999  2218231