In [54]:
import pandas as pd
import dataset
import csv
import os
import numpy as np

In [55]:
votes = pd.read_csv(r'C:\Users\Tony Duron\Python-Challenge\PyPoll\Resources\election_data.csv')
votes.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [56]:
votes['Candidate'].count()

3521001

In [76]:
votes_update = votes['Candidate'].value_counts()
votes_update

dataframe = pd.DataFrame(votes_update)
votes_df = dataframe
votes_df

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [78]:
(votes_df['Candidate'] / votes_df['Candidate'].sum()) * 100

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

63.00001050837531